@{
    @model LibraryManagementSystem.ViewModels.BookViewModel
    ViewData["Title"] = "Delete Book";
}

<div class="delete-container">
    <h2>Are you sure you want to delete this book?</h2>
    <p>You are about to delete the book titled <strong>"@Model.Title"</strong>. This actions can not be undone.</p>

    <form method="post">
        <input type="hidden" value="@Model.Id"/>
        <button type="submit" class="btn btn-danger btn-lg">
            <i class="fas fa-trash-alt"></i>Delete
        </button>
    </form>
    <button asp-action="List" class="btn btn-secondary btn-lg">
        <i class="fas fa-times"></i>Cancel
    </button>
</div>
